@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: flex-end;/*this is for the right corner*/
    align-items: center; /* vertically center */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 100px;          /* space from right edge */
    margin-bottom:120px;
    margin-left:120px;
    background: rgba(255, 255, 255, 0.88);
    padding: 20px 25px;
    border-radius: 12px;
}

.container{
backdrop-filter: blur(6px);
box-shadow: 0 10px 30px rgba(0,0,0,0.2);

}

.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
}

.input-container input[type="text"]{
    width: 70%;
}

.input-container input[type="button"]{
    background-color: #3da33d;
    color: #fff;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
}

.input-container input[type="button"]:hover{
    background-color: #60b160;
}

ul{
    width: 70%;
    max-width: 450px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

ul li{
    list-style-type: none;
    cursor: pointer;
    margin-block-end: 12px;
    border-radius: 8px;
    border: 0.125px solid #a19f9f;
    padding: 6px 12px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s;
}

ul li:hover{
    background-color: #cbcaca;
}

ul li p{
    flex-grow: 1;
    padding: 2px;
}
.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}

.deleteBtn{
    color: #ff0000;
}

.editBtn{
    color: #008000;
}